html,
body {
  padding: 0;
  background: yellow;
}

.header {
  display: flex;
  justify-content: space-between;
}

.header img {
  width: 100px;
  height: 58px;
  padding-left: 1rem;
}

.dropdown {
  margin: 0;
  padding: 1rem;
  display: flex;
  gap: 10px;
}

.dropdown select {
  width: 120px;
  height: 30px;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  padding: 6px 1rem;
  border-color: #fff;
  border-radius: 6px;
  background: none;
  text-align: center;
}

.dropdown select:focus {
  outline: none;
  border: 5px #fff solid;
}

.login-btn {
  height: 30px;
  padding-left: 12px;
  padding-right: 12px;
  background: red;
  border: 0;
  border-radius: 6px;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

.login-btn:hover {
  background: #e60000;
}
